
body {
  background-color: #282c34;
  color: white;
  text-align: center;
}

h2 {
margin:auto;
align-items: center;
justify-content: center;
}

.sortableHelper {
  left: 78% !important;
  background-color: #4c5464 !important; 
}

.App{
  text-align: center;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*################### Slider #################*/

.slidecontainer {
  width: 50%; /* Width of the outside container */
  margin:auto;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* ##################  SearchBox #################*/

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 25%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 25px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a, #selectedList li, .sortableHelper {
  margin:auto;
  width: 50%;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 1em ; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header){
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/* ###################### ChartContainer ########################### */

#chartContainer {
  margin-top: 1%;
  width: 100%;
  min-height: 40vh;
}

#chart {
  padding-left: 3%;
  margin:auto;
  width: 65%;
  display: inline-block;
  color: #694441
}

/* ##################### SELECTED LIST ######################*/

.removeButton {
margin-left:10px;
}

#selectedList {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 30%;
  margin-right: 2%;
}

#selectedList li {
  background-color: #516690;
}
#selectedList li, .sortableHelper{
  box-sizing: border-box;
  border: 1px solid #516690; 
  list-style-type: none;
  align-items: center;
  border-radius:2em;
  margin:0.2em auto;
}

#selectedList li:hover{
  color:#000000;
  background-color: #4c5464;
  }



